################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/bin
**/TestResults
**/.vs
/copy.ps1
/src/Zelenium.Core/Properties/PublishProfiles
*.user
